header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;

}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__social::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.my_image {
    /* padding-left:55%; */
    /* width:35%;
    height: 30rem; */
    align-self: center;
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    Height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    /*this help to place the image to the middle of screen*/
    margin-top: 4rem;
    border-radius: 1rem 5rem 0 0;
    overflow: hidden;
    transform: var(--transition);
    padding: 0rem 0.1rem 0.1rem 0.1rem;
}

.scroll__down {
    position: absolute;
    right: -2rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-weight: 0.9rem;
}

@media only screen and(max-width:1024px) {
    header {
        height: 68vh
    }

}

@media only screen and (max-width: 600px) {

    header {
        height: 100vh;

    }

    .header__social,
    .scroll__down {
        display: none;
    }

}

